body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.round-image {
    border-radius: 50%; /* Makes the image circular */
    width: 200px; /* Set the width as needed */
    height: 200px; /* Set the height as needed */
    object-fit: cover; /* Ensures the image fills the container without stretching */
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.profile {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.profile img {
    max-width: 200px;
    border-radius: 50%;
}

.profile h2 {
    font-size: 24px;
    margin: 10px 0;
}
h1 {
    color: blue;
    

}

.profile p {
    font-size: 16px;
    margin: 5px 0;
}
