body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
}

.nav-toggle {
    display: none;
    
}

.nav-toggle-label {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 70px;
    left: 3px;
    z-index: 999;
}

/*.nav-toggle-label span {
    display: block;
    position: relative;
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s ease;
}*/

.icon {
    width: 24px;
    height: 3px;
    background-color: #37b9da;
    position: relative;
    transition: transform 0.3s ease;
}

.icon::before,
.icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e93232;
    transition: transform 0.3s ease;
}

.icon::before {
    top: -8px;
}

.icon::after {
    top: 8px;
}

/*.nav-toggle-label::before {
    content: "\2630"; /* Hamburger icon 
    font-size: 24px;
    color: #333;
}*/

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity by changing the last value (0.5) */
}

.nav-toggle:checked + .container .overlay {
    display: block; /* Show the overlay when the sidebar is checked */
}

.nav-toggle:checked + .container .sidebar {
    transform: translateX(0);
}

.nav-toggle:checked + .container .main-content {
    margin-left: 280px;
}
.nav-toggle:checked + .container .nav-toggle-label .icon {
    transform: rotate(45deg);
}

.nav-toggle:checked + .container .nav-toggle-label .icon::before {
    transform: translateY(8px) rotate(90deg);
}

.nav-toggle:checked + .container .nav-toggle-label .icon::after {
    transform: translateY(-8px) rotate(90deg);
}

.sidebar {
    width: 290px;
    background-color: #333333;
    color: #fff;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(-250px);
    position: fixed;
    height: 100%;
    
}

.profile-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.profile-info h2 {
    margin: 5px 0;
}

.navigation {
    list-style: none;
    padding: 0;
    max-width: 230px;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px;
    transition: background-color 0.3s ease;
}

.navigation li a:hover {
    background-color: #555;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 5px 0;
    min-width: 200px;
   
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    display: block;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #555;
}


.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 40px;
    transition: margin-left 0.3s ease, opacity 0.3s ease;
    
}
